@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}
.colour-secondary {
  background-color: #2563EB;
}
.button-primary{
  background-color: #B1872D;
}
.text-heading {
  @apply text-[26px] md:text-[32px] font-bold text-black ;
}


/* ===== Scrollbar Utilities ===== */
.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #e55a56;
}


.max-container {
  @apply mx-auto w-full h-full max-w-444 px-5 sm:px-8 md:px-10 lg:px-16 xl:px-20 2xl:px-24;
}


/* ===== Headings & Text ===== */
.heading1 {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold tracking-wide text-foreground;
}

.heading2 {
  @apply text-xl sm:text-2xl font-semibold text-foreground;
}

.body-text {
  @apply text-sm sm:text-base xl:text-lg text-black/75 leading-relaxed;
}

